# Building and releasing library:
*.egg-info
*.pyc
*.so
build/
dist/
venv/
.cache

# Mac OS
.DS_Store

# Python tools
.mypy_cache/
.pytype/
.ipynb_checkpoints

# Editors
.idea
.vscode

ignore*
test*
OAI_CONFIG_LIST
__pycache__